<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ordinazione-heading" jhiTranslate="mobileMarketApp.ordinazione.home.createOrEditLabel">Create or edit a Ordinazione</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ordinazione.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileMarketApp.ordinazione.quantita" for="field_quantita">Quantita</label>
                    <input type="number" class="form-control" name="quantita" id="field_quantita"
                           formControlName="quantita"/>
                    <div *ngIf="editForm.get('quantita').invalid && (editForm.get('quantita').dirty || editForm.get('quantita').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantita').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantita').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantita')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileMarketApp.ordinazione.prezzoTotale" for="field_prezzoTotale">Prezzo Totale</label>
                    <input type="number" class="form-control" name="prezzoTotale" id="field_prezzoTotale"
                           formControlName="prezzoTotale"/>
                    <div *ngIf="editForm.get('prezzoTotale').invalid && (editForm.get('prezzoTotale').dirty || editForm.get('prezzoTotale').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prezzoTotale').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prezzoTotale').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('prezzoTotale')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileMarketApp.ordinazione.stato" for="field_stato">Stato</label>
                    <select class="form-control" name="stato" formControlName="stato" id="field_stato">
                        <option value="DISPONIBILE">{{'mobileMarketApp.Magazzino.DISPONIBILE' | translate}}</option>
                        <option value="NON_DISPONIBILE">{{'mobileMarketApp.Magazzino.NON_DISPONIBILE' | translate}}</option>
                        <option value="IN_ORDINE">{{'mobileMarketApp.Magazzino.IN_ORDINE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('stato').invalid && (editForm.get('stato').dirty || editForm.get('stato').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('stato').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileMarketApp.ordinazione.prodotto" for="field_prodotto">Prodotto</label>
                    <select class="form-control" id="field_prodotto" name="prodotto" formControlName="prodotto">
                        <option *ngIf="!editForm.get('prodotto').value" [ngValue]="null" selected></option>
                        <option [ngValue]="prodottoOption.id === editForm.get('prodotto').value?.id ? editForm.get('prodotto').value : prodottoOption" *ngFor="let prodottoOption of prodottos; trackBy: trackProdottoById">{{prodottoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('prodotto').invalid && (editForm.get('prodotto').dirty || editForm.get('prodotto').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('prodotto').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mobileMarketApp.ordinazione.ordine" for="field_ordine">Ordine</label>
                    <select class="form-control" id="field_ordine" name="ordine" formControlName="ordine">
                        <option *ngIf="!editForm.get('ordine').value" [ngValue]="null" selected></option>
                        <option [ngValue]="ordineProdottoOption.id === editForm.get('ordine').value?.id ? editForm.get('ordine').value : ordineProdottoOption" *ngFor="let ordineProdottoOption of ordineprodottos; trackBy: trackOrdineProdottoById">{{ordineProdottoOption.codice}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('ordine').invalid && (editForm.get('ordine').dirty || editForm.get('ordine').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('ordine').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
