<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ordineProdotto">
            <h2><span jhiTranslate="mobileMarketApp.ordineProdotto.detail.title">Ordine Prodotto</span> {{ordineProdotto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mobileMarketApp.ordineProdotto.dataInserimento">Data Inserimento</span></dt>
                <dd>
                    <span>{{ordineProdotto.dataInserimento}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.ordineProdotto.stato">Stato</span></dt>
                <dd>
                    <span jhiTranslate="{{'mobileMarketApp.StatoOrdine.' + ordineProdotto.stato}}">{{ordineProdotto.stato}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.ordineProdotto.codice">Codice</span></dt>
                <dd>
                    <span>{{ordineProdotto.codice}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.ordineProdotto.cliente">Cliente</span></dt>
                <dd>
                    <div *ngIf="ordineProdotto.cliente">
                        <a [routerLink]="['/cliente', ordineProdotto.cliente?.id, 'view']">{{ordineProdotto.cliente?.email}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ordine-prodotto', ordineProdotto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
