<div class="row jh-card p-0 mt-0"style="width: 100vh;">
    <div class="col-md-12 ">
        <!-- <<<<<<<<<<<<<<<<<<<<<<< Carosello >>>>>>>>>>>>>>>>>>>>>>>>>>>-->

        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <img [src]="images[0]" alt="first slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[1]" alt="second slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[2]" alt="third slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[3]" alt="fourth slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[4]" alt="fifth slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[5]" alt="sixth slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[6]" alt="seventh slide">
            </ng-template>
            <ng-template ngbSlide>
                <img [src]="images[7]" alt="third slide">
            </ng-template>
        </ngb-carousel>

        <!--<<<<<<<<<<<<<<<<<<<<<<<FineCarosello>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->


    </div>

    
</div>