<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prodotto">
            <h2><span jhiTranslate="mobileMarketApp.prodotto.detail.title">Prodotto</span> {{prodotto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mobileMarketApp.prodotto.nome">Nome</span></dt>
                <dd>
                    <span>{{prodotto.nome}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.prodotto.descrizione">Descrizione</span></dt>
                <dd>
                    <span>{{prodotto.descrizione}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.prodotto.prezzo">Prezzo</span></dt>
                <dd>
                    <span>{{prodotto.prezzo}}</span>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.prodotto.immagine">Immagine</span></dt>
                <dd>
                    <div *ngIf="prodotto.immagine">
                        <a (click)="openFile(prodotto.immagineContentType, prodotto.immagine)">
                            <img [src]="'data:' + prodotto.immagineContentType + ';base64,' + prodotto.immagine" style="max-width: 100%;" alt="prodotto image"/>
                        </a>
                        {{prodotto.immagineContentType}}, {{byteSize(prodotto.immagine)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="mobileMarketApp.prodotto.categoriaProdotto">Categoria Prodotto</span></dt>
                <dd>
                    <div *ngIf="prodotto.categoriaProdotto">
                        <a [routerLink]="['/categoria-prodotto', prodotto.categoriaProdotto?.id, 'view']">{{prodotto.categoriaProdotto?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prodotto', prodotto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
